*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.container{
    min-height: 100vh;
    width: 100%;
    background-color: rgb(14, 14, 30);
    display: flex;
    align-items: center;
    justify-content: center;
}

.left, .right{
    min-height: 400px;
    width: 300px;
    margin: 20px;
    padding: 40px 10px;
    border: 2px dashed white;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 30px;
}

.list{
    background-color: rgb(211, 117, 133);
    width: 80%;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: grab;
    border-radius: 15px;
    font-size: 20px;
    font-weight: 300;
    color: white;
}

img{
    width: 30px;
}